[Unit]
Description=Regenerate keystore if cert has changed
After=network.target unifi-regenerate-certificate.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/unifi-rebuild-keystore.sh
TimeoutStartSec=0


[Install]
WantedBy=multi-user.target
